<h2>라우터 테스트</h2>
<ul>
    <%
        for(var i=0; i<length; i++){
    %>
        <li><%= i + "번째 반복중" %></li>
        
    <%
        }
    %>
    <p><a href="/about">노드란..?</a></p>
    <p>reload가 정상적으로 되나요?</p>
</ul>